@import url(http://fonts.googleapis.com/css?family=Pontano+Sans);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);

* {
	margin: 0;
}

body  {
	font-family: "Pontano Sans";
}

header h1, header h2, header h3 {
	display: inline;
	font-weight: lighter;
}

canvas {
	border: 1px solid lightgray;
}

section#game {
	text-align: center;
}

section#game canvas {
	background-color: white;
}

section#game canvas:-webkit-full-screen {
	width: 200%;
	border: 5px solid red;
}

section#game table {
	margin: auto;
	border-spacing: 2em;
}

section#debugger {
	font-family: "Inconsolata";
}

section#debugger table {
	border: 1px solid black;
	border-collapse: collapse;
}

section#debugger table td {
	border: 1px solid black;
}

section#buttons button {
	width: 4em;
}

section#registers, section#flags, section#memory, section#breakpoints {
	display: inline-block;
	vertical-align: top;
}

section#flags label:after {
	content: "\000A";
	white-space: pre;
}

section#video span {
	position: relative;
}

section#video span canvas {
	position: absolute;
	top: 0;
	left: 0;
};

section#video canvas#tiles, section#video canvas#background, section#video table#oam {
	display: inline-block;
	vertical-align: top;
}

section#video table#oam span {
	padding-left: 0.2em;
}
