* {
	margin: 0;
}

body {
	font-family: monospace;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  border: 1px solid gray;
}

header {
	background-color: #F56991;
}

section#game {
	background-color: #D1F2A5;
}

section#debugger {
	background-color: #EFFAB4;
}

footer {
	background-color: #FF9F80;
}

section#registers td {

	padding: 0.3em;
}

section#registers td {

	margin-left: 1em;
	text-align: right;
}

section#registers td:first-child, section#memory td:first-child {
	font-weight: bold;
}

canvas {
	float: right;
	border: 1px solid green;
}

section#debugger section {

}

section#video span {
	margin: 0.1em;
}